*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.progress-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #fff;

}

.top-heading{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 5px;
}

.select{
    height: 30px;
    min-width: 95px;
    font-size: 15px;
    font-weight: 550;
    color: black;
    background: #eff0f0;
    border-radius: 5px;
    border: none;
    padding: 5px;
}


.progress-card{
    width: 100%;
    min-height: 150px;
    background: #fff;;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 50px;
    margin-bottom: 20px;

}

.chart-legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
}


.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}


.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

