*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.progress-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #fff;

}

.top-heading{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 5px;
}

.select{
    height: 30px;
    min-width: 95px;
    font-size: 15px;
    font-weight: 550;
    color: black;
    background: #eff0f0;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
